
.about p{
	padding-left: 100px;
	padding-right: 100px;
}
.btn:hover
{
	background-color: #1abc9c;
	transition: 0.7;
	transform:scale(1.2);
}
.sect
{
	margin-top: 20px;
}

.downlaod{
	width: 100%;
	height: 100%;
}
}
.about{
	width: 100%;
	height: 100%;
	
}
.row{
	width: 100%;
	height:auto;
	display: flex;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;

}
.about-section 
{
	background-color: #1abc9c;
	width: 100%;
	height: 100%;
}
h5
{
	font-size: 40px;
}

.about p
{
	display: inline-block;
	color: #212529 !important;
}
.image-section
{
	width: 100%;
}
.container img:hover
{
	transition: 0.7;
	transform:scale(1.1);
}
.container img
{
	width:300px;
	height: 250px;
	padding-left: 20px;
	padding-top: 20px;
	border-radius: 20%; 
}
.images
{
	width: 400px;
	height: 400px;

}
.image-box
{
	width: 100%;
	height:400px;
}
.img-container
{
	width: 100%;
	height: 400px;
}
hr
{
	border:3px solid white;
	width: 70%;
}
h2
{
	font-size: 60px;
}
.start
{
	padding-bottom: 40px;
	box-sizing: border-box;
}
.image-box{
	width: 100%;
	height:350px;
}
.port
{
 width: 300px;
 height: 300px;
}
.container-fluid
{
	background-color: #1abc9c;
	width: 100%;
	
}
h2{
	color: white !important;
}
.navbar {
 background-color: #2c3e50 !important; 
}
.manu
{
	font-family:'Oswald', sans-serif; 
	color: white !important;
}
body
{
	font-family:'Oswald', sans-serif;
}
a{
	font-family:'Oswald', sans-serif;
}
}

.bg-light
{
	background: transparent;
}
.nav-item {
	padding-right: 4em;

}
.nav-item:hover
{
	text-decoration: underline;
}
.nav-link
{
	font-size: 20px;
	color: white !important;
}
.navbar-nav{
	margin-right:3em;
}
.navbar-brand
{
	font-size: 40px !important;
	padding-left: 70px;
	color: white !important;

}
